.calculator {
  margin: 0 auto;
  width: 400px;
  font-size: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.display {
  grid-column: 1 / 5;
  background-color: #333;
  color: white;
  text-align: right;
  padding: 2px 30px 0 0;
  overflow: hidden;
}

.btn {
  background-color: #F2F2F2;
  border: 1px solid #999;
  padding: 20px;
  user-select: none; 
}

.btnOperator {
  background-color: orange;
  color: white;
  padding: 20px;
  user-select: none; 
}

.btnZero {
  padding: 20px;
  background-color: #F2F2F2;
  border: 1px solid #999;
  grid-column: 1 / 4;
  user-select: none; 
}

.formula {
  font-size: 36px;
}